:root {
    --color-primary-white: #ffffff;
    --color-primary-blue: #2B7FFF;
    --color-primary-dark: #011C44;

    --color-secondary-dark: #4A4A4A;
    --color-secondary-light: #747272;
    --color-secondary-blue: #011F4A;
    --color-secondary-yellow: #FFFC2B;
}

/* base*/

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary-white);
    color: var(--color-primary-dark);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /* line-height: 1.5; */
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

address {
    font-style: normal;
}

ul {
    /* margin: 0;
    padding: 0; */
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 12px;
}

.button {
    padding: 16px 32px;
   background-color: var(--color-primary-blue);
   font-size: 18px;
   color: var(--color-primary-white);
   border: 2px solid var(--color-primary-blue);
   border-radius: 32px;
   cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: var(--color-primary-dark);
}

.link{
    color: var(--color-primary-dark);
    font-size: 18px;
    text-decoration: none;
}

.link:hover {
    color: var(--color-primary-blue);
    font-weight: 600;
}

/* header */

.header {
    background-color: grey;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 180px;
}

.header-menu {
    display: flex;
    gap: 200px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.header-link {
    display: flex;
    gap: 40px;
}

.header-icon {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* hero */

.hero-container {
    max-width: 530px;
}

.hero-title {
    margin: 0;
    font-family: "Play", sans-serif;
    font-size: 140px;
    font-weight: 900;
    color: var(--color-primary-blue);
    
}

.section-title {
    font-family: "Play";
    font-weight: bold;
    color: var(--color-primary-dark);
    line-height: 1.5;
}

.section-title .brand {
    color: var(--color-primary-blue);
}

.accent {
    font-weight: 900;
    color: var(--color-primary-dark);
}
