.about-us-section {

    &__containers {
       

       @media screen and (min-width: $bp-desktop) {
        width: 1240px;
        display: flex;
        gap: 10px;
        padding-top: 40px;  
        margin-left: 100px;
       }
    }

    &__text {
       width: 100%;
       padding-top: 40px;

       @media screen and (min-width: $bp-desktop) {
        width: 710px;
       height: 456px;
       }

    }   

    &__pic {
        display: none;

    @media screen and (min-width: $bp-desktop) {
        width: 500px;
        height: 695px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    }
    
    &__title {
      
    font-family: "Play";
    font-weight: bold;
    font-size: 32px;
    color: var(--color-primary-dark);
    line-height: 1.1;
    padding-left: 12px;

    @media screen and (min-width: $bp-desktop) {
        width: 530px;
        font-size: 64px;
    }
    }

    &__block-aft {
        width: 500px;
        height: 327px;
       display: flex;
       justify-content: flex-end;  
    }

    &__content {
        width: 100%;
        font-size: 22px;
        font-family: "Roboto", sans-serif;
        line-height: 1.7;
        color: var(--color-secondary-dark);
        padding-left: 12px;
    }

    &__bef {
        width: 327px;
        height: 327px;    
    }

    &__aft {
        width: 327px;
        height: 327px;
    }
    }

.about-us-section__title .brand {
    color: var(--color-primary-blue);
    font-size: 32px;

    @media screen and (min-width: $bp-desktop) {
        font-size: 64px;
    }
}

.about-us-section__info .accent {
    font-weight: 600;
    color: var(--color-secondary-dark);
}

