.about-us-section {

    &__containers {
       width: 1240px;
       display: flex;
       gap: 10px;
       padding-top: 40px;  
       margin-left: 100px; 
    }

    &__text {
       width: 710px;
       height: 456px;
       padding-top: 40px;

    }   

    &__pic {
        width: 500px;
        height: 695px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    &__title {
        width: 530px;
    font-family: "Play";
    font-weight: bold;
    font-size: 64px;
    color: var(--color-primary-dark);
    line-height: 1.1;
    padding-left: 12px;
    }

    &__block-aft {
        width: 500px;
        height: 327px;
       display: flex;
       justify-content: flex-end;  
    }

    &__content {
        width: 100%;
        font-size: 22px;
        font-family: "Roboto", sans-serif;
        line-height: 1.7;
        color: var(--color-secondary-dark);
        padding-left: 12px;
    }

    &__bef {
        width: 327px;
        height: 327px;    
    }

    &__aft {
        width: 327px;
        height: 327px;
    }
    }

.about-us-section__title .brand {
    color: var(--color-primary-blue);
    font-size: 64px;
}

.about-us-section__info .accent {
    font-weight: 600;
    color: var(--color-secondary-dark);
}

