.procedures-section {

     
     &__slider {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__container {
        overflow: hidden;
       
    }

    &__list {
        
        margin-bottom: 32px;
    
    }

    // &__item {
    //     display: flex;
    //     flex-direction: column;
    // }

    &__title {
        display: block;
        text-align: center;
        font-size: 64px;
        font-family: "Play", sans-serif;
    }

    

  

    &__button {
        margin: 247px auto;
    }

    // &__button {
    //     display: none;
    // }
}

.procedures-section__title .brand {
    color: var(--color-primary-blue);
    font-size: 32px;

    @media screen and (min-width: $bp-desktop) {
        font-size: 64px;
    }
}