.text-brand {
    color: var(--color-primary-dark);
}

.text-brand-dark {
    color: var(--color-secondary-blue);
}


.text-bold {
    font-weight: 600;
}

.text-uppercase {
    text-transform: uppercase;
}