.button {
    display: block;
    padding: 16px 32px;
   background-color: var(--color-primary-blue);
   font-size: 18px;
   font-weight: 600;
   color: var(--color-primary-white);
   border: 2px solid var(--color-primary-blue);
   border-radius: 32px;
   cursor: pointer;
   transition: color 0.3s;
}

.button:hover {
    background-color: transparent;
    color: var(--color-primary-dark);
}