.input{
    position: relative;

    &__label {
        position: absolute;
        top: 16px;
        left: 42px;
    }

    &__control {
        padding: 16px 42px;
        width: 100%;
        font-size: 16px;
        line-height: 1.17;
        border: 1px solid var(--color-primary-white);
        border-radius: 32px;
        background-color: transparent;  

        &:focus {
            border-color: var(--color-primary-white);
            outline: none;
        }

       &::placeholder {
        color: var(--color-primary-white);
        font-size: 16px;
        line-height: 1.17;
     }

     &:focus::placeholder {
        color: var(--color-primary-dark);
     }   
   }

   &__control:hover {
    color: var(--color-primary-white);
    background-color: var(--color-secondary-light);
    
    cursor: pointer;
}
}