.link{
    color: var(--color-primary-dark);
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s;
}

.link:hover {
    color: var(--color-primary-blue);
    font-weight: 600;
}
